body {
  /* to prevent fixed header hiding top of body */
  padding-top: 110px;
}
.bg-dark {
  background-color: #111 !important;
}

.cta {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  z-index: 2;
}
i.card-img-top {
  font-size: 9em;
  height: 230px;
  transition: 200ms ease-in-out;
}
.card {
  overflow: hidden;
}
.card:hover .blue-slider {
  bottom: 0;
}
.card:hover .card-img-top {
  font-size: 11em;
}
.card .blue-slider {
  position: absolute;
  height: 78px;
  width: 100%;
  bottom: -75px;
  left: 0;
  transition: 200ms ease-in-out;
}

.inventory-card {
  background-color: #ddd !important;
}
.inventory-card img {
  max-width: 100%;
}

.book-title {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
